<div>
  <h2 class="text-center">404 Error with the App</h2>
  <div class="text-center">
    <p>We think you're trying to go somewhere strange.</p>
    <p>We could be wrong and the error's on our side.</p>
    <p>If so, sorry.</p>
  </div>
</div>
