<div>
<p>For a long time now, I wake up and do a set of push-ups and sit-ups. Occasionally this gets quite hard. Drinking, living out of cars, staying at friends houses, hitch hiking and the natural sway of the boat can all make my morning routine a little hard. Since my friends hate gamification, I figured I'd write a small app that gamified my exercising. Well... no. It will do the Seinfield calendar thing and then push your data to other servers that can gamify it for you. And your data will be logged on your device and exportable if you wish to move the data elsewhere.</p>
<p>Why make a new service? Because they were all too complicated. I like the seven minute routine but there were either timers that only did that or really complicated systems. I'm hoping to make something prettier, simpler and more useful (to me)</p>
<p>Disclaimer: This is all intended to be done with no equipment.</p>
</div>
