<h2 class="form-signin-heading text-center">Welcome</h2>
<!-- Tabbed is awesome!! -->
<div class="row" style="margin-top:20px;">
  <ul class="nav nav-tabs col-sm-offset-3 col-sm-6" style="text-align:center">
    <li class="active" style="float:none; display:inline-block;">
      <a href="#signup" data-toggle="tab">Sign up</a>
    </li>
    <li class="disabled" style="float:none; display:inline-block;">
      <span style="padding-left:10px;color:gray;">Login</span>
      <!--<a href="#authenticate" data-toggle="tab">Login</a>-->
    </li>
  </ul>
</div>

<div class="tab-content" style="margin-top:30px;">

  <div class="tab-pane active row" id="signup">
    <div class="col-sm-offset-3 col-sm-6">
      <input id="givenName" type="text" class="form-control" placeholder="Given name" required="" autofocus="">
    </div>
    <div class="col-sm-offset-3 col-sm-6">
      <input id="familyName" type="text" class="form-control" placeholder="Family name" required="">
    </div>
    <div class="col-sm-offset-3 col-sm-6">
      <input id="email" type="email" class="form-control" placeholder="Email" required="">
    </div>
    <div class="col-sm-offset-3 col-sm-6">
      <button class="btn btn-primary btn-block" type="submit">Continue</button>
    </div>
  </div>

  <div class="tab-pane" id="authenticate">
    <div class="row">
      <div class="col-xs-4 col-sm-offset-3 col-sm-2">
        <a href="#" class="btn btn-primary btn-block">
          <span>Facebook</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-primary btn-block">
          <span>Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-primary btn-block">
          <span>Google+</span>
        </a>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div style="width: 100%; text-align: center; border-bottom: 1px solid #E7E7E7; line-height: 0.1em; margin: 10px 0 20px; margin-top:30px;margin-bottom:30px;">
          <span style="background:#fff; padding:0 10px; ">OR</span>
        </div>
        <form autocomplete="off">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Email Address">
          </div>
          <span class="help-block"></span>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input  type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <span class="help-block" style="color:transparent;">Password error</span>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-3">
        <label class="checkbox">
          <input type="checkbox" value="remember-me">Remember Me
        </label>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p class="omb_forgotPwd" style="margin-top:10px;text-align:right">
          <a href="#">Forgot Password?</a>
        </p>
      </div>
    </div>
  </div>
</div>
