  <h2 class="form-signin-heading text-center">Welcome</h2>
  <input id="givenName" type="text" class="form-control" placeholder="Given name" required="" autofocus="">
  <input id="familyName" type="text" class="form-control" placeholder="Family name" required="">
  <input id="email" type="email" class="form-control" placeholder="Email" required="">
  <button class="btn btn-primary btn-block" type="submit">Continue</button>
