<h2 class="text-center">Welcome {{givenName}}!</h2>
<h3>5BX</h3>
<p class="bg-info">Congratulations! You're up to Chart <span class="badge">4</span> Level <span class="badge bg-success">{{level}}</span></p>
