<form class="form-login center-block" role="form">
  <h2 class="form-signin-heading text-center">Welcome</h2>
  <input id="given" type="text" class="form-control" placeholder="Given name" required="" autofocus="">
  <input id="family" type="text" class="form-control" placeholder="Family name" required="">
  <button class="btn btn-primary btn-block" type="submit">Continue</button>
</form>
