<div>
<h2 class="text-center">Welcome {{givenName}}!</h2>
<h3>5BX</h3>
<p class="bg-info">Congratulations! You're up to <span class="label label-success">Chart <span class="badge">4</span></span> level <span class="badge bg-success">C-</span></p>
</div>
